/*
 * ZUGRAFI - Freeware font
 * Copyright 2017 -2019
 * Author  : rullyshabara@gmail.com
 */

body {
    padding-top: 5px; 
}

/*
@font-face {
   font-family: 'zufredi';
   src: url(../dist/fonts/zugrafi.otf);
}
*/

/* set custom */
@font-face {
  font-family: bodyFonts;
  src: url(../dist/fonts/PlayfairDisplaySC-Black.ttf);
}

.fontplay{
  font-family: bodyFonts;
}

.col-putih{
  color:#fff;
}

.col-hitam {
  color:#222;
}

.request {
  font-color:#fed136;
}

.letzug{
  /*font-family: zugfont;*/
  letter-spacing: -10px;
}

.isize {
  font-size: 50px;
}

.img-samasthamarta {
  width:240px;
  height:160px;
  padding:2px;
}

.pad-top70 {
  padding-top:70px;
}

.pad-bot70 {
  padding-bottom:70px;
}

.marg-top10{
  margin-top: 10px; 
}

.playfair {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-family: bodyFonts;*/
  /*font-size: 4em;*/
  color:#656D78;
}

.full-area {
    width: 100%;  
    padding-top: 10px;
    padding-bottom: 10px;
}

.gt-space{
   letter-spacing: -10px;
}

.text-just{
   text-align: justify;
}


 /* Style the Image Used to Trigger the Modal */

.point{
    cursor:pointer;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 60px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 
